# Database
db.sqlite3

# Django-generated media and static files (DON'T track these)
website/media/
website/staticfiles/

# Archives
*.tar.gz
*.zip
*.tar
*.rar

# Backups
*backup*

# Specific files
My_notes.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# name of website
*.png