{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'resume/style.css' %}?v=2">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <!-- Navigation bar added on the body always  -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="#home" class="logo">
                <img src="{% static 'resume/images/logo.png' %}" alt="Logo">
            </a>
            <div class="nav-center">
                <ul class="nav-links" id="navLinks">
                    <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
                    <li><a href="{% url 'resume' %}" class="{% if request.resolver_match.url_name == 'resume' %}active{% endif %}">Resume</a></li>
                    <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact Me</a></li>
                </ul>
            </div>
            <button class="menu-toggle" id="menuToggle">☰</button>
        </div>
    </nav>
    
    {% block content %}{% endblock %}


    <div class="footer">
        <p>&copy; 2025 Jose David Regalado Alvarado. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/Pachakuteq" target="_blank">
                <i class="devicon-github-original"></i>
                GitHub
            </a>
            <a href="https://www.linkedin.com/in/jose-david-regalado" target="_blank">
                <i class="devicon-linkedin-plain"></i>
                LinkedIn
            </a>
        </div>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>