{% extends 'resume/base.html' %}
{% block content %}
<div class="container">  
    <div class="header-grid">
        <div class="header-block">
            <h1>Jose David</h1>
        </div>
        <div class="header-block">
            <h1>About Me</h1>
            <p>This is the about page of my personal website.</p>
        </div>
    </div>
    
    
    <h1>Projects</h1>
    <div class="project-grid">
        <div class="project-card">
            <h3>Personal Blog</h3>
            <p>A blog where I share my thoughts on technology and programming.</p>
        </div>
        <div class="project-card">
            <h3>Portfolio Website</h3>
            <p>A website showcasing my projects and skills.</p>
        </div>
        <div class="project-card">
            <h3>E-commerce Site</h3>
            <p>An online store built with Django and React.</p>
        </div>
    </div>
    
    <div class="technologies-footer">
        <h1>Technologies</h1>
        <ul class="technologies-list">
            <li><i class="devicon-python-plain colored"></i></li>
            <li><i class="devicon-django-plain colored"></i></li>
            <li><i class="devicon-html5-plain colored"></i></li>
            <li><i class="devicon-css3-plain colored"></i></li>
            <li><i class="devicon-javascript-plain colored"></i></li>
            <li><i class="devicon-react-original colored"></i></li>
            <li><i class="devicon-nodejs-plain colored"></i></li>
            <li><i class="devicon-postgresql-plain colored"></i></li>
        </ul>
    </div>
</div>
{% endblock %}
